{% extends 'layout.html' %} 

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portafolio/logo.png' %}" alt="" class="img-fluid">
    </div>

    <div class="col-md-8 my-auto">
        <h1><strong>The World of Video Games</strong></h1>
        <h3> <strong>¡Hola!</strong> En esta página encontraras dos apartados uno dedicado a los videojuegos y el otro dedicado a blogs, espero que la página sea de tu agrado.</h3>
        <p><strong>¡Gracias por visitar esta página!</strong></p>
        <a href="{% static 'portafolio/Games.pdf' %}" class="btn btn-primary btn-lg my-3" target="_blank"><strong>Download CV</strong></a>
    </div>   
</header>

<div class="row my-4 text-center">
    <h3> <strong>My Video Games</strong> </h3>
    <p> En esta sección encontraras una parte de los videojuegos que he podido jugar. </p>
</div>

<div class="row my-4 text-center">
    {% for project in projects %}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top" />
            <div class="card-body">

                <h2><strong>{{project.titles}}</strong></h2>
                <p>{{project.description}}</p>

                {% if project.url %}
                <a href="{{project.url}}"class="btn btn-dark rounded-0 btn-sm" target="_blank" style="max-width: 200px;"> {{project.url|truncatechars:20}}</a>
                    
                {% endif %}
            </div>
        </div>
    </div>

{% endfor %} 
{% endblock %}
</div>
